<div class="m-5 is-flex is-flex-direction-column product-list-item">
  <img src="https://via.placeholder.com/150" 
    class="is-clickable" 
    (click)="setItemAsSelected()"/>
  <div class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center">
    <div class="is-flex is-flex-direction-column is-clickable is-unselectable"
      (click)="setItemAsSelected()">
      <p>{{product?.name}}</p>
      <p>{{product?.price}}$</p>
    </div>
    <button class="button is-primary"
      (click)="addToCart()">
      Buy
    </button>
  </div>
</div>
